# Reading GO-SHIP bottle data

In [57]:
# import libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [60]:
# Open the cruise data file
#
# define file name
fn='33RO20161119_hy1.csv'
# read in the cruise data
df=pd.read_csv(fn,skiprows=149,header=0)
# display the first 5 rows
df.head()

,EXPOCODE,SECT_ID,STNNBR,CASTNO,SAMPNO,BTLNBR,BTLNBR_FLAG_W,DATE,TIME,LATITUDE,...,ALKALI_FLAG_W,PH_SWS,PH_SWS_FLAG_W,PH_TMP,POC,POC_FLAG_W,PON,PON_FLAG_W,SF6,SF6_FLAG_W
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,DEG C,UG/KG,NaN,UG/KG,NaN,PMOL/KG,NaN
1,33RO20161119,P18,1.0,3.0,1.0,11010.0,2.0,20161124.0,1417.0,22.6884,...,2.0,7.5127,2.0,25.00,-999.00,9.0,-999.00,9.0,0.0000,2.0
2,33RO20161119,P18,1.0,3.0,2.0,11101.0,2.0,20161124.0,1417.0,22.6884,...,2.0,7.4893,2.0,25.00,-999.00,9.0,-999.00,9.0,0.0031,2.0
3,33RO20161119,P18,1.0,3.0,3.0,11102.0,2.0,20161124.0,1417.0,22.6884,...,6.0,7.4699,2.0,25.00,-999.00,9.0,-999.00,9.0,-999.0,9.0
4,33RO20161119,P18,1.0,3.0,4.0,11103.0,2.0,20161124.0,1417.0,22.6884,...,2.0,7.4472,2.0,25.00,-999.00,9.0,-999.00,9.0,0.0112,6.0

In [62]:
# display the name of the all columns
df.columns

Index(['EXPOCODE', 'SECT_ID', 'STNNBR', 'CASTNO', 'SAMPNO', 'BTLNBR',
       'BTLNBR_FLAG_W', 'DATE', 'TIME', 'LATITUDE', 'LONGITUDE', 'DEPTH',
       'CTDPRS', 'CTDTMP', 'CTDSAL', 'CTDSAL_FLAG_W', 'SALNTY',
       'SALNTY_FLAG_W', 'CTDOXY', 'CTDOXY_FLAG_W', 'OXYGEN', 'OXYGEN_FLAG_W',
       'SILCAT', 'SILCAT_FLAG_W', 'NITRAT', 'NITRAT_FLAG_W', 'NITRIT',
       'NITRIT_FLAG_W', 'PHSPHT', 'PHSPHT_FLAG_W', 'CFC-11', 'CFC-11_FLAG_W',
       'CFC-12', 'CFC-12_FLAG_W', 'TCARBN', 'TCARBN_FLAG_W', 'ALKALI',
       'ALKALI_FLAG_W', 'PH_SWS', 'PH_SWS_FLAG_W', 'PH_TMP', 'POC',
       'POC_FLAG_W', 'PON', 'PON_FLAG_W', 'SF6', 'SF6_FLAG_W'],
      dtype='object')

In [64]:
# identify station #9
stn9 = (df['STNNBR']==9)
# extract the data belonging to station #9 and name it as df9
df9 = df[stn9]
df9.head()

,EXPOCODE,SECT_ID,STNNBR,CASTNO,SAMPNO,BTLNBR,BTLNBR_FLAG_W,DATE,TIME,LATITUDE,...,ALKALI_FLAG_W,PH_SWS,PH_SWS_FLAG_W,PH_TMP,POC,POC_FLAG_W,PON,PON_FLAG_W,SF6,SF6_FLAG_W
180,33RO20161119,P18,9.0,1.0,1.0,11010.0,2.0,20161126.0,602.0,20.0002,...,2.0,7.5234,3.0,25.00,-999.00,9.0,-999.00,9.0,0.0000,2.0
181,33RO20161119,P18,9.0,1.0,2.0,11101.0,2.0,20161126.0,602.0,20.0002,...,2.0,7.4957,6.0,25.00,-999.00,9.0,-999.00,9.0,-999.0,9.0
182,33RO20161119,P18,9.0,1.0,3.0,11102.0,2.0,20161126.0,602.0,20.0002,...,6.0,7.4825,2.0,25.00,-999.00,9.0,-999.00,9.0,-999.0,9.0
183,33RO20161119,P18,9.0,1.0,4.0,11103.0,2.0,20161126.0,602.0,20.0002,...,2.0,7.4592,2.0,25.00,-999.00,9.0,-999.00,9.0,-999.0,9.0
184,33RO20161119,P18,9.0,1.0,5.0,11104.0,2.0,20161126.0,602.0,20.0002,...,2.0,7.4266,2.0,25.00,-999.00,9.0,-999.00,9.0,-999.0,9.0

In [65]:
# Get all the T and S data points for Station 9
T = df9['CTDTMP'].to_numpy().astype(float)
S = df9['CTDSAL'].to_numpy().astype(float)

In [66]:
# display T and S
print(T)

[ 1.7647  1.8411  1.9381  2.1452  2.481   2.8154  3.2229  3.7103  4.2862
  4.7728  5.2027  5.7283  6.3265  7.1652  7.766   8.7721  9.5138 11.1019
 12.2756 13.3558 14.6449 18.7051 28.0785 28.0654]

In [67]:
print(S)

[34.6662 34.6614 34.6544 34.6411 34.6242 34.6087 34.589  34.5676 34.5425
 34.5314 34.5193 34.502  34.4898 34.5079 34.5044 34.5398 34.5705 34.7051
 34.7673 34.7618 34.61   34.2965 34.4678 34.472 ]